* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 20000px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-image: linear-gradient(to top, #B2C9AD 0%, #4B5945 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #597557;
    color: #000;
}

.button:hover {
    background: #89b686;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #7d9d7b;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 30vh;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 30vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}


/*********************** Main Section *******************/
.main {
    display: grid;
    grid-template-areas: "main__column main__tabs";
    grid-template-columns: 30% 70%;
    background-color: #3f3f3f;
    z-index: 0;
}

.blob {
    background-color: #303030;
    border: solid;
    border-color: #222222;
    border-width: 1px;
    border-radius: 10px;
    padding: 0.7rem;
}

/* Column */
.main__column {
    grid-area: main__column;
    margin: 1rem 2rem;
}

#connection__status {
    text-align: left;
    font-size: 1.1rem;
    font-weight: 1;
    color: #a0b5a0;
    margin-bottom: 4px;
}

 #preview__image {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 30vh;
}

#print__data {
    padding-top: 1em;
    text-align: left;
    font-size: 1rem;
    font-weight: 1;
    color: #e0e0e0;
} 

.rounded__divider {
    border-top: 1px solid #e0e0e0;
    border-radius: 5px;
    margin: 0.01rem;
    margin-top: 0.1rem;
    margin-bottom: 0.25rem;
}

/* progress bar */
.progress__bar {
    background: white;
    border-radius: 0.8em;
    /* padding: 0.1em; */
}

#print__progress {
    color: white;
    font-size: 0.9em;
    background: linear-gradient(to right, #B2C9AD 0%, #4B5945 100%);
    border-radius: 0.8em;
    padding: 0.1em;
    text-align: center;
}


/* Tabs */
/* contains all tabs inside */
.main__tabs {
    grid-area: main__tabs;
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.tabs {
    display: flex;
    flex-direction: row;
}

/* dont show radio dots */
input {
    display: none;
}

/* settings for the tab label */
.tab__label {
    color: #e0e0e0;
    padding: 0.7rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 1;
    cursor: pointer;
    transition: 0.5s;
    border-color: #303030;
}

/* changes settings for selected tab label */
input:checked + label .tab__label {
    background: #303030;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


/* settings for all tabs content */
.tab__content {
    display: none;
    z-index: 0;
    color: green;
    transition: 5.5s;
}

/* specific settings for control tab content */
.main__tabs:has(#tab1:checked) #control-content,
.main__tabs:has(#tab2:checked) #temp-content {
    display: block;
    z-index: 1;
}

#control-content {
    width: 100%;
}

#webcam-stream {
    /* centering */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100vh;

    /* black sides */
    border-color: black;
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 10vw;
    border-right-width: 10vw;
    border-style: solid;
}

